* {box-sizing: border-box;}
/*sections------------------------------------------------------------------- */

body {
  margin: 0;
	padding: 0;
	background-color: #FFF;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	font-size: 100%;
	line-height: 1.2;
  }
  
  #wrapper {
    
 
    background-color: #FFF;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 70em;
	margin: 0 auto;
  }

main  {
}
article	{
}
aside	{
}
footer {

  color: #fff;
  background: #555;
  padding: 1em 1.25em 1em 1.25em
}
footer a {
  color:white;
}
header {
	margin-top: 4px;
margin-bottom: 0;
}
.post	{
	margin-top: 2px;
	margin-bottom: 2px;

}
nav	{
}
.menu	{
	color:white;
	
}
/*headings------------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 {
	line-height: 1;
}

/* h1	{
  font-family: 'Strait', sans-serif;
  color: #F30;
  font-size: 3em;
  line-height: 2em;
 }
 h3	{
  font-family: 'Strait', sans-serif;
  font-size: 1.5em;
  line-height: 1.7em;
  text-indent: 2em;
 } */ */

 h1 { font-size: 2.25em; } /* 36px */
 h2 { font-size: 1.75em; } /* 28px */
 h3 { font-size: 1.375em; } /* 22px */
 h4 { font-size: 1.125em; } /* 18px */
 h5 { font-size: 1em; } /* 16px */
 h6 { font-size: .875em; } /* 14px */



 
/*grouping------------------------------------------------------------------- */
p {
 
  line-height: 1.5;
  margin: 10px 0 10px 0;
  


}
/* Paragraph drop-cap */
p .drop-cap {
  font-size: 3em;
  float: left;
  margin-right: 0.1em;
  margin-top: 0.1em;
  text-indent: 0em;
}

.drop-cap:first-letter {
  font-size: 2em;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 0.2;
  margin-top: 0.2em;
 
}
/* Image Float */

.fltlt {
  float: left;
  margin-right: 8px;
 }
  .clear {
  clear: both;
 }

blockquote	{
  padding: 1em 2em 1em 2em;
	margin: 0 0 2em 0;
	border-left: 5px solid #eee;
}
/* style.css */

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #ccc;
}
tbody tr:nth-child(odd) {
	background-color: rgba(204, 0, 0, .1);
}
caption	{
	font-size: 1.2em;
	font-weight: bold;
	margin: 1.2em 0 .5em 0;
	text-transform: uppercase;
}

/*lists---------------------------------------------------------------------- */
ul	{
}
li	{
}
ol	{
}
dl	{
}
dt	{
}
dd	{
}
/*text------------------------------------------------------------------------ */
em	{
}
strong	{
  font-weight: bolder;
}
small	{
	font-size: .75em; /* 12px*/
}
cite	{
  font-style: italic;
}
time	{
}
/*image----------------------------------------------------------------------- */
figure	{
}
figcaption	{
}
img	{
}
/*anchors--------------------------------------------------------------------- */
a	{ text-decoration: none; }
	
a:link { color: #C00; }
a:visited { color: #990000; }
a:hover { 
	color: #3300FF;
	text-decoration:underline;
}
a:active { color: #336; }
a:focus { color: #336; }

a[href^="#top"] {
	font-size: .75em;
	background: url(../learningJournal/images/up.png) no-repeat left bottom;
	padding-left: 1.4em;
}




.menu li	{
    list-style-type: none;
    font-size: 18px;
   
  }
  .menu a {
    color: #000;
    padding: 5px;
    margin-right: 4px;
    text-decoration: none;
   
    border-radius: 3px;
  }
  .menu a:hover {
    background-color: #0090D2;
    color: #ffffff;
  }


/*  Tutorial design */





.instructions {
  margin: 2em 0 0 1.25em;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 30%;
display: flex;
}
.card-content {
  flex-direction: column;
  width: 100%;
  border: 1px solid #b8860b;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 1.25em 1.25em 0.3em 0;
  padding: 1em;
}
.card-content p {
  line-height: 1.3;
  margin: 0;}
.instructions ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.video-wrapper {
  max-width: 960px;
 
}
iframe	{
  width: 100%;
  height: auto;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%; /*16:9 */
  height: 0; 
}
.video-container iframe {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%;
  height: 100%;
}





/* contact form Css */


form{
  width: 80%;
  background-color: #FFF;
  padding: 0.7em;
  border: 3px groove #56562C;
  margin: 1.2em;
  
}


label {
  display: block;
  cursor: pointer;
  color: #000;
  padding: 0.4em 0 0.4em 0;
}
input {
  display: block;
  width: 98%;
  height: 2em;
  background-color: #FFF;
  border: 1px solid #900;
  font-family: "Courier New", Courier, monospace;
  padding: 0.1em;
  

}
textarea {
  width: 98%;
  background-color: #FFF;
  border: 1px solid #C00;
}
input[type="radio"] {
  display: inline-block;
  height: 1em;
  width: 2em;
  
}
fieldset {
  border: 1px solid #56562C;
  margin-bottom: 1.2em;
  padding: 0.6em 0.6em 0.7em 0.6em;
}
  


  /* -----------------------
Grid layout
------------------------*/

.banner {
	grid-area: banner;
}

.menu {
	grid-area: menu;
}

nav {
	grid-area: nav;
}

table {
	grid-area: table;
}

main {
	grid-area: main;
}

aside {
	grid-area: aside;
}

footer {
	grid-area: footer;
}





#wrapper {
	display: grid;
	grid-gap: 0;
	grid-template-areas:
		"banner"
		"menu"
		"nav"
		"table"
		"main"
		"aside"
		"footer"
    ;
}
.tutorial-page #wrapper{
  display: block;
  
}

.contact-page #wrapper {
  display: block; 
  width: 96%;
  margin-right: auto;
  margin-left: auto;
  max-width: 40em;

}

/* change for the tutorial page */
.tutorial-page .tutorial-banner{
  color: #250838;
  padding: 1em 1.25em 1em 1.25em;
  background-color: #FFF;
  background-image: url(../images/paintbanner.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}


@media (min-width: 50em) {
  #wrapper {
    grid-template-columns: 3fr 6fr;
    grid-template-areas: 
      "banner  banner"
      "menu  menu"
	  "nav  table"
      "aside  main"
      "footer  footer";
  }
  
 
}

@media (min-width: 60em) {
  #wrapper {
    grid-template-columns: 3fr 5fr 3fr;
    grid-template-areas: 
      "banner  banner  banner"
      "menu  menu  menu"
	  "nav  table  aside"
      "nav  main  aside"
      "footer  footer  footer";
   }
   .card { width: 33.33%; }
   #html5 form {
    display: block;
}

#wrapper {
    width: 100%;
}
}

@media screen and (min-width: 40em){
 
  .card { width: 30%; }
}
/* --------------------------
Layout Styles - mobile first
----------------------------*/
.banner
{
	color: #fff;
	background: #555;
	padding: 1em 0 1em 1.25em;
}

.menu
{
	background: #000 ;
	padding: 0;
	text-transform: uppercase;
	font-weight: bold;
}

nav h3, aside h3 {
	margin-left: .6em;
}

main
{
	margin: 0 1em 0 1em;
}

footer
{
	color: #fff;
	background: #555;
	padding: 1em 1.25em 1em 1.25em;
}

/**Makes images 100% width of containing element i.e. flexible
*Remove image width and height attributes from html!
*/
img	
{
	max-width: 100%;
}

/* -----------------------------------------------
Menu Navigation - vertical layout for smaller screens
--------------------------------------------------*/
.menu ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu li
{
	display: block; /*display in a vertical column*/
	margin: 0;
}
.menu a
{
	display: block;
	padding: .7em 1.25em .7em 1.25em;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid gray;
}
.menu a:link { color: #fff; }
.menu a:visited { color: #DFDFDF; }
.menu a:focus { color: #C00; }
.menu a:hover { color: #DFDFDF; }
.menu a:active { color: #C00; }

/* ----------------------------------------------------
Wider screens - i.e. desktop, laptop, tablet landscape
-------------------------------------------------------*/

@media (min-width: 50em)
{
	.banner { padding: 0 0 0 3em; }
	
/* Menu navigation - inline layout for wider screens */	
	
	.menu { padding: 1em 0 1em 3em; }

	.menu li
	{
		display: inline;
		margin: 0 1em 0 0;
	}
	.menu a
	{
		display: inline;
		padding: 0;
		border-bottom: 0;
	}
}

/* ----------------------------------------------------
Mobile screens - portrait
-------------------------------------------------------*/
/*Timtable not displayed on small width screens*/

@media (max-width: 35em) {
  body{
    background-color: aqua;
}
	table {
		display:none;
   }
   /*float/clear classes */
.fltrt {  /* this class can be used to float an element e.g. image right in the page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: .5em;
}
.fltlt { /* this class can be used to float an element e.g. image left in the page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: .5em;
}
.clear { /* this class can be placed on an element or empty div as the final element following the last floated div */
	clear: both;
}
.card { width: 100%; }
}

.media	{
  margin: 0;
  padding: 0;
}
.media li	{
  margin: 0;
  padding: 0;
}
